.margin-bottom-100-kslang {
    margin-bottom: 100px;
}

.flex-wrap-kslang {
    flex-flow: row wrap;
}

.justify-start-kslang {
    justify-content: flex-start;
}

.padding-15rem {
    padding: 1.5rem;
}

