.event-card {
    margin: 20px 10px;
}

.border-event {
    border: 2px solid #DCDCDC;
    border-radius: 8px;
    /* flex-over-flow */
    width: 360px;
    overflow: hidden;
}

.margin-10-event {
    margin: 12px;
}

.container-event-image {
    display: flex;
    justify-content: center;
}