.kslang-card-margin {
    margin: 20px 10px;
}

.kslang-card-border {
    border: 2px solid #DCDCDC;
    border-radius: 8px;
}

.kslang-card-width {
    width: 260px;
}

@media screen and (max-width: 960px) {

    .kslang-card-margin {
        margin: 10px 5px;
    }

    .kslang-card-width {
        width: 30%;
    }
    
}