* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif', serif;
}

.flex {
    display: flex;
}

.padding-top-80 {
    padding-top: 80px;
}

.padding-top-120 {
    padding-top: 120px;
}

.justify-center {
    justify-content: center;
}

.column {
    flex-direction: column;
}

.space-btw {
    justify-content: space-between;
}

.width-100 {
    width: 100%;
}

.width-70 {
    margin: 0 auto;
    width: 70%;
}

.padding-top-12px {
    padding-top: 12px
}

.padding-left-12px {
    padding-left: 12px
}

.margin-top-12px {
    margin-top: 12px
}

.margin-bottom-12px {
    margin-bottom: 12px
}

.margin-left-12px {
    margin-left: 12px
}

.margin-right-12px {
    margin-right: 12px
}

@media screen and (max-width: 960px) {
    .padding-top-80 {
        padding-top: 0px;
    }
}